
.navbar {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}

.logo {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 5.5rem;
  }

.nav__links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.nav__links a.active {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}


.nav__links a:hover {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid rgba(0, 0, 0, 0.9);
}


.flex-end {
  display: flex;
  align-items: center;
}


.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content li {
  list-style: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-content li:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
  flex-direction: column;
  align-items: start; 
}
