.image__grid{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

@media only screen and (max-width: 320px) {
  .image__grid {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 568px) {
  .image__grid {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media only screen and (min-width: 569px) and (max-width: 768px) {
  .image__grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }
}