.image__card{
display: flex;
flex-direction: column;
margin: 1rem auto;
border-radius: 15px;

}


.card__img{
  border-radius: 15px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
  opacity: .9;
}